body {
    font-family: 'Segoe UI', sans-serif;
    background: #040404;
}

h3 {
    text-align: center;
    color: #808080;
}

#content {
    width: 1024px;
    margin-left: auto ;
  margin-right: auto ;

}


span {
    font-style: italic;
}

